@model Wearhouse3.Class.User;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wearhouse</title>

    <link rel="stylesheet" href="~/css/HeaderFooter.css" type="text/css">
    <link rel="stylesheet" href="~/css/Register.css" type="text/css">
</head>
<body>

    <div class="mobile-menu">
        <a asp-area="" asp-controller="Category" asp-action="Index"><h1>Category</h1></a>
        <a asp-area="" asp-controller="AboutUs" asp-action="Index"><h1>About Us</h1></a>
        <a asp-area="" asp-controller="Login" asp-action="Index"><h1>Login</h1></a>
        <a asp-area="" asp-controller="Register" asp-action="Index"><h1>Register</h1></a>
    </div>
    <nav class="nav-container">
        <div class="website-navigation">
            <h1>Wearhouse</h1>
            <div class="list">
                <div class="nav-website-list-container">
                    <a asp-area="" asp-controller="Category" asp-action="Index"><h2>Category</h2></a>
                    <a asp-area="" asp-controller="AboutUs" asp-action="Index"><h2>About Us</h2></a>
                </div>
                <div class="nav-list-container">
                    <a asp-area="" asp-controller="Login" asp-action="Index"><h2>Login</h2></a>
                    <a asp-area="" asp-controller="Register" asp-action="Index"><h2>Register</h2></a>
                </div>
            </div>

            <div class="nav-list-container-mobile">
                <img src="img/menu.png">
            </div>
    </nav>

    <div id="myPopup" class="popup">
        <div class="popup-content">
            <p>This is a popup box!</p>
            <button id="closePopup">
                Close
            </button>
        </div>
    </div>
    @using (Html.BeginForm("Success", "Login", FormMethod.Post))
    {
        <div class="login-container">
            <div class="title-container">
                <h1>Register</h1>
            </div>
            <form class="form-container" onsubmit="return validate()" method="post">

                <div class="name-container">
                    <div class="text-container"><h2>Name</h2></div>

                    @Html.EditorFor(model=>model.Name)
                </div>

                <div class="email-container">
                    <div class="text-container"><h2>Email Address</h2></div>

                    @Html.EditorFor(model=>model.Email)
                </div>

                <div class="password-container">
                    <div class="text-container"><h2>Password</h2></div>

                    @Html.EditorFor(model=>model.Password)
                </div>

                <div class="password-container">
                    <div class="text-container"><h2>Confirm Password</h2></div>

                    @Html.EditorFor(model=>model.Password)
                </div>

                <div class="remember-container">
                    <div class="empty"></div>
                    <div class="check">
                        <input type="checkbox"></input>
                        <h3>By clicking register, i agree to the terms and conditions.</h3>
                    </div>
                </div>

                <div class="submit-container">
                    <div class="submit-button">Register</div>
                </div>

            </form>
        </div>
    }

    <div class="footer-container">
        <div class="logo-container">
            <a href="https://twitter.com/" target="_blank"><img src="img/twitter.png"></a>
            <a href="https://www.facebook.com/" target="_blank"><img src="img/facebook.png"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="img/instagram.png"></a>
        </div>

        <div class="footer-text-container">
            <h3>Copyright 2021 &#169; Davenn. All Rights Reserved</h3>
        </div>
    </div>

    <script src="~/js/HeaderFooter.js"></script>
    <script src="~/js/Register.js"></script>
</body>
</html>

